In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('emissions.csv')
df

,State,Year,Coal,Natural gas,Other Fuels,Nuclear,Hydro,Other Renewables,Other Generation,GHG Emissions
0,Ontario,1990,27800.0,3.18,1430.0,59400,38700,0.0,0,25 600
1,Ontario,2000,40800.0,10200.00,1140.0,59800,36600,1.0,0,43 700
2,Ontario,2005,29400.0,10000.00,1440.0,78000,34600,26.0,0,33 900
3,Ontario,2006,24500.0,11000.00,860.0,83500,35000,150.0,0,30 500
4,Ontario,2007,27900.0,11800.00,880.0,79800,33400,490.0,1150,33 700
...,...,...,...,...,...,...,...,...,...,...
235,Northwest Territories,2018,0.0,6.60,80.0,0,250,0.0,0,67
236,Northwest Territories,2019,0.0,7.60,74.0,0,270,0.0,0,60
237,Northwest Territories,2020,0.0,10.90,75.0,0,260,0.0,0,62
238,Northwest Territories,2021,0.0,14.70,61.0,0,270,0.0,0,56
239,Northwest Territories,2022,0.0,15.30,63.0,0,240,0.0,0,59